<% provide(:title, t('views.layouts.header.navbar.who_we_are')) %>
	<h1>Colombia Rents#<%= t('views.layouts.header.navbar.who_we_are') %></h1>
	<p>Find me in app/views/colombia_rents/acerca.html.erb</p>