<!-- Footer -->
<footer>
<p class="pull-right"><a href="#"><%= t('views.layouts.footer.back_to_top') %></a></p>
<p>&copy; <%= t('views.layouts.footer.company') %> &middot; <%= link_to t('views.layouts.footer.privacy'), '#' %> &middot; <%= link_to t('views.layouts.footer.terms'), '#' %></p>
</footer>