<!-- Footer -->
<footer>
<p class="pull-right"><a href="#"><%= t(:back_to_top) %></a></p>
<p>&copy; <%= t(:company) %> &middot; <%= link_to t(:privacy), '#' %> &middot; <%= link_to t(:terms), '#' %></p>
</footer>